*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
body{
background-color: white;
}
header{ 
    text-align: center;
    padding: 10px 20px;
    background-color: brown;
}
.h1index{
    margin-top: 15px;
    font-size: xx-large
}
.logothc{
    width: 150px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    margin-top: 20px
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.secindex{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
.pindex1{
    text-align: center;
    font-size: x-large;
}
.pindex{
    font-size: small;
    margin-left: 15px;
}
.h2index{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.divindex{
    display: inline-block;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 72px;
}
.divindex2{
    display: inline-block;
    margin-left: 58px;
    margin-right: 40px;
}
.h4ind{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.ifind2{
    width: 400px;
}
.pindex2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
    font-size: large;
    border: 4px solid black;
    border-radius: 10px;
}
.hatindex{
    display: inline-block;
    margin-left: 70px
}
.h2rev{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.secrev{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
.divrev{
    display: inline-block;
    margin-left: 135px;
}
.ifrev{
    align-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
}
.prev{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.mainrev{
    margin-top: 50px;
}
.h2acc{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;;
}
.acesorioscont{
    display: inline-block;
    border: 4px solid black;
    align-content: center;
    margin-left: 75px;
    margin-bottom: 40px;
}
.accimg{
    width: 400px;
}
.pacc{
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
}
.h2art{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.artimg{
    display: inline-block;
    width: auto;
    margin-bottom: 30px;
    width: 600px;
    margin-left: 35px;
}
.part{
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: x-large;
}
.divart{
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 40px;
}
.partgall{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.mainart{
    margin-bottom: 50px;
    margin-left: 55px;
}
.h2ab{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.pab{
    text-align: center;
    border-radius: 10px;
    border: 4px solid black;
    font-size: large;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 60px;
    padding: 15px;

}
.divab2{
    display: inline-block;
}
.pab3{
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 60px
}
.iab{
    display: inline-block;
    width: 600px; 
    margin-left: 450px;
    margin-right: 450px;  
    margin-bottom: 50px;
}
footer{ 
    text-align: center;
    background-color: brown;
}
