@use './variable' as v;

footer{
    background-color: v.$bg-color;
    text-align: center;
    font-size: 1.9em;
    padding: 5%;
    box-shadow: 0px 0px 30px 3px rgb(0, 0, 0);
}
.h3index{
    color: v.$text-color;
    margin-bottom: 5%;
    font-weight: bold;
}
.indexnav2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.foota{
    width: 15%;
    max-width: 75px;
    min-width: 50px;
}